# kitchen-sink is from framework7-vue and it has standalone lint, so ignore it for now
examples/kitchen-sink

# templates and assets cannot be linted
lib/templates
lib/assets

# from .gitignore
vscode
.idea
node_modules
.nuxt
sw.*
workbox-*
dist